.main {
    display: grid;
    align-content: flex-start;
    max-width: 46rem;
    margin: 0 auto;
    gap: 4rem;
    padding-bottom: 2rem;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tasks>ul>li:not(:first-child) {
    margin-top: 0.75rem;
}

.tasks>ul>li {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--gray-400);
    align-items: center;
}


@media(max-width: 768px) {
    .main {
        padding: 0rem 1rem 2rem 1rem;
        gap: 6rem;
    }
}